<app-menu></app-menu>
<router-outlet></router-outlet>
<!-- <div class="text-layout">
  <h1>{{ nombre | titlecase }}</h1>
  <h2>{{ valor | number }}</h2>
  <p>
    {{ objeto | json }}
  </p>
  <button
    icon="pi pi-bell"
    iconPos="right"
    class="p-button-help"
    pButton
    (click)="mostrarNombre()"
    label="Cambiar nombre"
  ></button>
  <p-card>
    <ng-template pTemplate="header"> Header content here </ng-template>
    Body Content
    <ng-template pTemplate="footer"> Footer content here </ng-template>
  </p-card>
</div>
 -->